# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

/Backstage/LastShopping/.vs
/Backstage/LastShopping/LastShopping/bin
/Backstage/LastShopping/LastShopping/obj
/Backstage/LastShopping/LastShopping.Services/bin
/Backstage/LastShopping/LastShopping.Services/obj
/Backstage/LastShopping/LastShopping.Database/bin
/Backstage/LastShopping/LastShopping.Database/obj