@{
    ViewData["Title"] = "Shared _Layout";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewData["Title"] - LastShopping</title>
    @*asp-append-version 防止舊版載入*@
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/tocas/tocas.min.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/fontawesome.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/brands.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/solid.css" />
    <link rel="stylesheet" href="~/LastShopping.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/tocas/tocas.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

</head>
<body>
    <div class="ts-app-layout is-full is-horizontal">
        <div class="cell is-dark side-text asideMenu">
            <div class="ts-content is-center-aligned">
                <div class="ts-wrap is-vertical is-compact is-middle-aligned">
                    <div class="ts-header">Yami Odymel</div>
                </div>
            </div>
            <div class=" ts-content is-dense">
                <div class="ts-row">
                    <div class="column is-fluid">
                        <div class="ts-text is-bold">使用者管理</div>
                        <div class="column"></div>
                    </div>
                </div>
            </div>
            <div class="ts-menu is-dense is-small">
                <a asp-area="" asp-controller="Home" asp-action="Privacy" class="item">Privacy</a>
                <a href="#1" class="item">test2</a>
                <a href="#1" class="item">test3</a>
            </div>
        </div>
        <div class="side-background">
            <button type="button" id="collapse" class="btn btn-warning side-button"><i class="fa-solid fa-chevron-left"></i></button>
        </div>
        <div class="cell is-fluid is-secondary">
            <div class="ts-space is-large">
                <main role="main" class="ts-container is-narrow">
                    @RenderBody()
                </main>
            </div>
        </div>
    </div>
    @*在版面配置頁面中，以非同步方式呈現名為 name 的區段內容。*@
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>